# Dependências
node_modules/

# Arquivos de configuração de ambiente
cypress.env.json

# Pastas de relatórios e screenshots do Cypress
cypress/screenshots/
cypress/videos/

# Arquivos de log
*.log

# Arquivos temporários do sistema
.DS_Store
Thumbs.db
